
.title{
    font-size: 50px;
    color: rgb(28, 14, 223);
    text-transform: uppercase;
    text-align: center;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.timer{
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}

.field{
    margin-right: 20px;
    text-align: center;
}

.field:last-child{
    margin-right: 0;
}

#datetime-picker{
    /* width: 350px; */
    height: 40px;
    display: block;
    margin-bottom: 20px;
}

button[data-start]{
    font-size: 20px;
    display: block;
    background: linear-gradient( rgb(35, 132, 189), yellow);
    width: 150px;
    padding: 10px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}